body{
    background-color: #1F2937;
    justify-content: center;
    width: 80%;
    margin: auto;
}

header{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.header_logo .header_menu{

    flex: auto;
}

.header_logo{
    font: extra-bold 48px Roboto, sans-serif;
    color: #F9FAF8;
}

.menu_link{
    font: extra-bold 48px Roboto, sans-serif;
    color: #F9FAF8;
    padding: 8px;
}